#root {
  /* max-width: 1280px; */
  width: 95vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.rc-pagination-item.rc-pagination-item-1.rc-pagination-item-active a {
  color: #9cb8d8;
}

.rc-pagination.sui-pagin {
  color: white;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #9cb8d8;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.innercontainer {
  display: flex;
  flex-direction: column;
}

.facetbar {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  overflow-x: auto;
  border-radius: 1em;
}

.facet {
  display: flex;
  flex-direction: row;
}

.sui-facet.facet, .sui-facet.facet-last {
  margin-top: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sui-facet.facet {
  border-bottom: solid #9cb8d8 1px;
}

.sui-facet__title {
  text-align: start;
  margin-left: 2em;
  font-size: medium;
}

.sui-multi-checkbox-facet__option-label {
  display: flex;
  flex-direction: column;
  margin: 0 1% 0 1%;
  text-align: center;
  justify-content: center;
  color: white;
}

.sui-multi-checkbox-facet__option-count {
  margin-left: 0;
}

.sui-multi-checkbox-facet {
  display: flex;
  flex-direction: row;
}

.sui-result {
  background-color: #1b1b1b;
  color: #9cb8d8;
  padding: 1%;
  border-radius: 1em;
  border: none;
}

.sui-result-row {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  margin-bottom: 2%;
}

.sui-result-row strong {
  text-align: start;
}

.sui-result-value {
  text-align: end;
  max-width: 50%;
  color: rgb(220, 220, 220);
}

.sui-search-box__submit {
  background: #718dad;
  transition: 0.3s;
  border-radius: 0 1em 1em 0;
  margin-left: 0;
}

.sui-search-box__submit:hover {
  background: #8eadd0;
  box-shadow: 0 0 1px 1px #718dad inset;
}

.sui-search-box__text-input {
  border: solid 1px #718dad;
  border-radius: 1em 0 0 1em;
}

.sui-search-box__text-input:focus {
  box-shadow: 0 0 1px 1px #718dad inset;
  border: solid 1px #718dad;
  /* background-color: yellow; */
}

.rc-pagination.sui-paging {
  justify-content: center;
}

.sui-paging .rc-pagination-item a  {
  color: white
}

.rc-pagination-item-link {
  justify-content: center;
  align-items: center;
}